// 公共混合函数
// flex 布局混合
.wsd-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  // align
  .is-align-top {
    align-items: flex-start;
  }

  .is-align-middle {
    align-items: center;
  }

  .is-align-bottom {
    align-items: flex-end;
  }

  .is-align-stretch {
    align-items: stretch;
  }

  .is-align-baseline {
    align-items: baseline;
  }
  // justify
  .is-justify-start {
    justify-content: flex-start;
  }

  .is-justify-center {
    justify-content: center;
  }

  .is-justify-end {
    justify-content: flex-end;
  }

  .is-justify-around {
    justify-content: space-around;
  }

  .is-justify-between {
    justify-content: space-between;
  }
  // direction
  .is-direction-row {
    flex-direction: row;
  }

  .is-direction-column {
    flex-direction: column;
  }

  .is-direction-rrow {
    flex-direction: row-reverse;
  }

  .is-direction-rcolumn {
    flex-direction: column-reverse
  }

  // flex-box
  .set-shrink(@shrink) {
    flex-shrink: @shrink;
  }
  .set-basis(@basis) {
    flex-basis: @basis;
  }
  .set-grow(@grow) {
    flex-grow: @grow;
  }
}
