// 样式常量
// 组件定制主题
@primary-color: #1890ff; // 全局主色

// 颜色
@--color-primary: '#419A18';
@--color-warning: '';
@--color-grey: '#D9D9D9';

// 字体
@--font-size-default: '14px';
@--font-size-title: '18px';
@--font-size-subtitle: '16px';

// 边框
@--border-radius: '4px';
@--border-color: @--color-grey;
@--border-width: '1px';
