@import '../common/variable.less';
.wsd-basic-list {
  background-color: #fff;
  .wsd-basic-list__content {
    padding: 0 @--margin-basic-page @--margin-basic-page;
  }
  .wsd-basic-list__status {
    margin-bottom: @--margin-basic-row;
  }
  .wsd-basic-list__action-icon {
    margin-right: 8px;
    &.is-active {
      color: @--color-gold;
    }
  }
}