@import '../common/variable.less';
@import '../common/mixins.less';

// 过渡效果
.slide-fade-enter-active {
  transition: all .25s ease-out 0.2s;
}

.slide-fade-leave-active {
  transition: all .2s ease;
}

.slide-fade-enter {
  transform: translateX(-100vw);
  opacity: 1;
}

.slide-fade-leave-to {
  transform: translateX(100vw);
  opacity: 0;
}

// 基本布局
.wsd-basic-layout {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: unset;
  .wsd-basic-layout--inner {
    background: unset;
  }
  .wsd-basic-header {
    position: relative;
    height: 48px;
    line-height: 48px;
    padding: 0 12px;
    background-color: #fff;
    box-shadow: -3px 5px 8px @--color-layout-header-shadow;
    z-index: 1;
  }
}

// 全局头部
.wsd-header {
  position: relative;
  height: 100%;
  .wsd-flex();
  .is-align-stretch();
  .is-justify-between();

  .is-middle {
    vertical-align: middle;
  }
  .wsd-header__product {
    display: inline-block;
    height: 100%;
    width: 188px;
    overflow: hidden;
    .wsd-flex();
    .is-align-middle();
    .wsd-header__title {
      padding: 0 12px;
      color: @primary-color;
      font-size: @--font-size-header-title;
      font-family: monospace;
      text-shadow: 1px -1px 1px darken(@primary-color, 10%);
    }
  }
  .wsd-header__click {
    display: inline-block;
    padding: 0 12px;
    height: 100%;
    cursor: pointer;
    &:hover {
      background-color: @--color-layout-header-hover;
    }
    &:active {
      background-color: @--color-layout-header-active;
    }
  }
  .wsd-header_username {
    padding-right: 12px;
  }
}

// 未读消息
.wsd-header-message {
  position: relative;
  width: 300px;
  .ant-list-header {
    padding-top: 0;
    .wsd-header-message__header {
      .wsd-flex();
      .is-align-middle();
      .is-justify-between();
      .wsd-header-message__title {
        font-size: @--font-size-subTitle;
      }
    }
  }
  .ant-list-footer {
    border-top: 1px solid #e8e8e8;
    padding-bottom: 0;
    .wsd-header-message__footer {
      text-align: center;
    }
  }
  .ant-list-item {
    padding: 6px 0;
  }
  .wsd-header-message__item {
    overflow: hidden;
    .wsd-header-message__title {
      color: @--color-text;
      .wsd-ellipsis();
    }
    .wsd-header-message__time {
      color: @--color-auxiliary-text;
      font-size: 12px;
      .wsd-ellipsis();
    }
  }
}

// 全局侧边栏
.wsd-basic-sider {
  position: relative;
  background: #fff;
  padding: 16px 0 56px;
  // 侧边栏收缩状态样式类
  &.ant-layout-sider-collapsed {
    .wsd-sider__collapse {
      padding: 0;
      span {
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        &:hover {
          background-color: @--color-sider-menu-hover-background;
        }
        &:active {
          background-color: @--color-sider-menu-active-background;
        }
      }
    }
  }
  // 自定义收缩触发器样式
  .wsd-sider__collapse {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    padding: 0 12px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-size: 16px;
    span {
      // color: @--color-sider-menu-color;
      cursor: pointer;
      &:hover {
        color: @--color-sider-menu-hover;
      }
      &:active {
        color: @--color-sider-menu-active;
      }
    }
  }
  // 侧边栏菜单样式
  .wsd-sider__menus {
    .ant-menu {
      border-width: 0;
      // 菜单布局
      &.ant-menu-inline {
        // menu-item
        .ant-menu-item {
          &.ant-menu-item-selected {
            background-color: @--color-sider-menu-hover-background;
          }
          &:active {
            background-color: @--color-sider-menu-active-background;
          }
          // 菜单选择bar
          &::after {
            left: 0;
            right: unset;
            border-right-width: 0;
            border-left: 3px solid @--color-sider-menu-active-bar;
          }
        }

        .ant-menu-submenu {
          .ant-menu-submenu-title {
            &:active {
              background-color: @--color-sider-menu-active-background;
            }
          }
        }
      }
      // 自定义颜色
      /* &.ant-menu-inline {
        // menu-item
        .ant-menu-item {
          color: @--color-sider-menu-color;
          margin: @--margin-sider-menu-item;

          &:hover {
            color: @--color-sider-menu-hover;
            background-color: @--color-sider-menu-hover-background;
          }
          &:active {
            color: @--color-sider-menu-active;
            background-color: @--color-sider-menu-active-background;
          }
          &.ant-menu-item-selected {
            color: @--color-sider-menu-hover;
            background-color: @--color-sider-menu-hover-background;
          }
          // 菜单选择bar
          &::after {
            left: 0;
            right: unset;
            border-right-width: 0;
            border-left: 3px solid @--color-sider-menu-active-bar;
          }
        }
        // sub-menu
        .ant-menu-submenu {
          // submenu 有选中菜单
          &.ant-menu-submenu-selected:not(.ant-menu-submenu-open) {
            color: @--color-sider-menu-hover;
            .ant-menu-submenu-title {
              color: @--color-sider-menu-hover;
            }
          }
          .ant-menu-submenu-title {
            color: @--color-sider-menu-color;
            margin: @--margin-sider-submenu-item;

            &:hover {
              color: @--color-sider-menu-hover;
              .ant-menu-submenu-arrow {
                &::before,
                &::after {
                  background-image: linear-gradient(to right, @--color-sider-menu-hover, @--color-sider-menu-active);
                }
              }
            }
            &:active {
              color: @--color-sider-menu-active;
              background-color: @--color-sider-menu-active-background;
              .ant-menu-submenu-arrow {
                &::before,
                &::after {
                  background-image: linear-gradient(to right, @--color-sider-menu-active, @--color-sider-menu-active);
                }
              }
            }
          }
        }
      } */

      // 收缩
      // 自定义颜色
      /* &.ant-menu-inline-collapsed {
        // menu-item
        .ant-menu-item {
          font-size: 16px;
          padding: 0 8px !important;
          text-align: center;
          color: @--color-sider-menu-color;

          &.ant-menu-item-selected {
            color: @--color-sider-menu-hover;
            background-color: @--color-sider-menu-hover-background;
          }

          &:hover {
            color: @--color-sider-menu-hover;
            // background-color: @--color-sider-menu-hover-background;
          }
          &:active {
            color: @--color-sider-menu-active;
            // background-color: @--color-sider-menu-active-background;
          }
        }
        // sub-menu

        .ant-menu-submenu {
          // submenu 有选中菜单
          &.ant-menu-submenu-selected:not(.ant-menu-submenu-open) {
            color: @--color-sider-menu-hover;
            .ant-menu-submenu-title {
              color: @--color-sider-menu-hover;
            }
          }
          .ant-menu-submenu-title {
            font-size: 16px;
            padding: 0 8px !important;
            text-align: center;
            color: @--color-sider-menu-color;
            &:hover {
              color: @--color-sider-menu-hover;
            }
            &:active {
              color: @--color-sider-menu-active;
            }
          }
        }
      } */
      &.ant-menu-inline-collapsed {
        // menu-item
        .ant-menu-item {
          font-size: 16px;
          padding: 0 8px !important;
          text-align: center;

          &:active {
            background-color: @--color-sider-menu-active-background;
          }
          // color: @--color-sider-menu-color;

          &.ant-menu-item-selected {
            // color: @--color-sider-menu-hover;
            background-color: @--color-sider-menu-hover-background;
          }
        }
        // sub-menu

        .ant-menu-submenu {
          .ant-menu-submenu-title {
            font-size: 16px;
            padding: 0 8px !important;
            text-align: center;
            // color: @--color-sider-menu-color;
            &:active {
              background-color: @--color-sider-menu-active-background;
            }
          }
        }
      }
    }
  }
}

// 内容容器
.wsd-basic-content {
  position: relative;
  padding: 16px;
}

// 用户信息drawer
.wsd-user-drawer {
  .ant-drawer-content {
    position: relative;
    background: @--color-user-drawer-background;
    padding: 0;
    .ant-drawer-wrapper-body {
      position: relative;
      .wsd-flex();
      .is-align-stretch();
      .is-direction-column();
      overflow: hidden;
      .ant-drawer-header {
        .set-shrink(0);
        height: @--height-user-drawer-title;
        line-height: @--height-user-drawer-title;
        padding: @--margin-vertical-user-drawer-title @--margin-horizontal-user-drawer-title;
        .ant-drawer-title {
          height: inherit;
          line-height: inherit;
        }
        .ant-drawer-close {
          width: 48px;
          height: 48px;
          line-height: 48px;
        }
      }
      .ant-drawer-body {
        .set-basis(0);
        .set-grow(1);
        position: relative;
        padding: 0;
        overflow: hidden;
      }
    }
  }

  .wsd-user-drawer__inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    .wsd-user-drawer__span {
      position: absolute;
      right: 0px;
      top: 0px;
      width: @--width-wsd-user-drawer-close;
      height: @--width-wsd-user-drawer-close;
      text-align: center;
      line-height: @--width-wsd-user-drawer-close;
      color: @--color-user-drawer-close;
      z-index: 1;
      cursor: pointer;
      &:hover {
        color: @--color-user-drawer-hover-close;
      }
      &:active {
        color: @--color-user-drawer-active-close;
      }
    }
    .wsd-user-drawer__content {
      position: relative;
      height: calc(100% - @--height-user-drawer-footer);
      overflow-x: hidden;
      overflow-y: auto;
      // 用户信息
      .wsd-user-drawer__header {
        // 用户信息
        .wsd-user-drawer__info {
          border-width: 0;
          background: transparent;
          .ant-card-body {
            padding: @--margin-vertical-user-drawer-card-title @--margin-horizontal-user-drawer-card-title;
            .ant-card-meta-title {
              margin-bottom: 0;
              padding-right: @--width-wsd-user-drawer-close / 2
            }
            .ant-card-meta-avatar {
              position: relative;
              .wsd-user-drawer__avatarContent {
                position: relative;
                width: 52px;
                height: 52px;
                overflow: hidden;
                cursor: pointer;
                &:hover {
                  .wsd-user-drawer__avatar {
                    &::after {
                      content: '';
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 100%;
                      z-index: 1;
                      background-color: @--color-user-drawer-avatar-change-background;
                    }
                  }
                  .wsd-user-drawer__avatarMask {
                    display: inline-block;
                  }
                } 
                .wsd-user-drawer__avatarMask {
                  display: none;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  width: 100%;
                  z-index: 2;
                  transform: translateY(-50%);
                  text-align: center;
                  overflow: hidden;
                  white-space: nowrap;
                  font-size: 12px;
                  color: @--color-auxiliary-text;
                  background-color: @--color-user-drawer-avatar-change-mask-background;
                }
              }
            }
          }
        }
        // 其他信息
        .wsd-user-drawer__otherInfo {
          padding: 0 @--margin-horizontal-user-drawer-card-title;
          .wsd-user-drawer__otherInfoItem {
            position: relative;
            .wsd-flex();
            .is-justify-start();
            span {
              font-size: 12px;
              color: @--color-auxiliary-text;
              line-height: 16px;
              &.wsd-user-drawer__otherInfoItem--icon {
                flex-shrink: 0;
                margin-right: 12px;
              }
            }
          }
          .wsd-user-drawer__otherInfoItem + .wsd-user-drawer__otherInfoItem {
            margin-top: 4px;
          }
        }
      }
      // 用户主体
      .wsd-user-drawer__body {
        position: relative;
        padding: @--margin-vertical-user-drawer-body @--margin-horizontal-user-drawer-body;
        & > * + * {
          margin-top: @--margin-vertical-user-drawer-body;
        }
        .wsd-user-drawer__bodyChart {
          position: relative;
          // min-height: 180px;
          background-color: #fff;
          border-radius: @--radius-user-drawer-body-chart;
          padding: @--padding-user-drawer-body-chart;
          box-shadow: -3px 5px 8px @--color-user-drawer-chart-shadow;
          .wsd-user-drawer__title {
            position: relative;
            color: @--color-user-drawer-chart-title;
            font-size: @--font-size-user-drawer-chart-title;
            .wsd-flex();
            .is-justify-between();
            .is-align-middle();
          }
          .wsd-user-drawer__value {
            color: @--color-user-drawer-chart-value;
            font-size: @--font-size-user-drawer-chart-value;
            .wsd-ellipsis();
          }
          // 背景色
          &.is-primary {
            color: #fff;
            background-color: @primary-color;
            box-shadow: -3px 5px 8px @--color-user-drawer-chart-primary-shadow;
            .wsd-user-drawer__title {
              color: @--color-user-drawer-chart-primary-title;
            }
            .wsd-user-drawer__value {
              color: @--color-user-drawer-chart-primary-value;
            }
            .wsd-user-drawer__chart {
              .wsd-component-chart__resultTitle {
                color: @--color-component-chart-result-is-primary;
              }
            }
          }
        }
        .wsd-user-drawer__bodyRanking {
          position: relative;
          // min-height: 280px;
          .wsd-user-drawer__rankingTitle {
            font-size: @--font-size-user-drawer-ranking-title;
            color: @--color-user-drawer-ranking-title;
            margin-bottom: @--margin-user-drawer-ranking-title;
          }
          .wsd-user-drawer__ranking {
            padding: @--margin-user-drawer-ranking-title 0;
            // 文本
            .wsd-user-drawer__rankingLabel {
              .wsd-flex();
              .is-align-middle();
              .is-justify-between();
              .wsd-user-drawer__rankingName {
                font-size: @--font-size-user-drawer-ranking;
                color: @--color-user-drawer-ranking-name;
                .set-grow(1);
                .set-basis(auto);
                .wsd-ellipsis();
              }
              .wsd-user-drawer__rankingValue {
                .set-shrink(0);
                font-size: @--font-size-user-drawer-ranking;
                .is-profit {
                  color: @--color-user-drawer-ranking-profit;
                  font-weight: 500;
                }
                .is-ratio {
                  color: @--color-user-drawer-ranking-ratio;
                  margin-left: @--margin-user-drawer-ranking-value;
                }
              }
            }
            // 进度条
            .wsd-user-drawer__rankingBar {
              .ant-progress-inner {
                background-color: @--color-user-drawer-ranking-bar-inner;
                .ant-progress-bg {
                  background-color: @--color-user-drawer-ranking-bar;
                }
              }
            }
          }
        }
      }
    }
    // 页脚操作
    .wsd-user-drawer__footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 @--margin-horizontal-user-drawer-footer;
      height: @--height-user-drawer-footer;
      line-height: @--height-user-drawer-footer;
      border-top: 1px solid @--color-border;
      background: #fff;
    }
  }
}

.wsd-user-drawer__titleTips {
  font-size: @--font-size-user-drawer-chart-title;
}
